{% extends 'base.html' %}
{% block content %}
<h3>Edit Item</h3>
<form method="POST" action="">
    {% csrf_token %}
  
  
    {{ form.non_field_errors }}

    <div class="form-group" style="display: none">
        {{ form.channel.errors }}
        <label for="{{ form.channel.id_for_label }}">channel:</label><br/>
        {{ form.channel }}
    </div>

    <div class="form-group">
        {{ form.title.errors }}
        <label for="{{ form.title.id_for_label }}">Title:</label><br/>
        {{ form.title }}
    </div>
    
    
    <div class="form-group">
      {{ form.description.errors }}
      <label for="{{ form.description.id_for_label }}">Description:</label><br/>
      {{ form.description }}
    </div>

    <div class="form-group">
        {{ form.link.errors }}
        <label for="{{ form.link.id_for_label }}">link:</label><br/>
        {{ form.link }}
    </div>

    <div class="form-group">
        {{ form.category.errors }}
        <label for="{{ form.category.id_for_label }}">category:</label><br/>
        {{ form.category }}
    </div>

    <div class="form-group">
        {{ form.comments.errors }}
        <label for="{{ form.comments.id_for_label }}">comments:</label><br/>
        {{ form.comments }}
    </div>

    <div class="form-group">
        {{ form.pubDate.errors }}
        <label for="{{ form.pubDate.id_for_label }}">pubDate:</label><br/>
        {{ form.pubDate }}
    </div>
  
    
    <input type="submit" value="Save">
</form>
{% endblock %}